body {
	padding-top: 60px;
}

.footer {
	margin-top: 50px;
	color: #CCC;
	a {
		color: #CCC;
	}
}

.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 214px;
    box-shadow: 1px 1px 10px #444;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
}